.logo {
    margin: auto;
    width: 256px;
    height: 256px;
    background-size: contain;
    background-image: url("/CodingStyle/images/logo/lemonless_coding_style_transparent.png");
}

.language {
    margin: auto;
    width: 96px;
    height: 96px;
    background-size: contain;
}

.global {
    background-image: url("/CodingStyle/images/language/coding.png");
}

.javascript {
    background-image: url("/CodingStyle/images/language/javascript.png");
}