<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="apple-touch-icon" href="/coding-style/images/logo/lemonless_coding_style.png">
    <link rel="shortcut icon" type="image/x-icon" href="/coding-style/images/logo/favicon.ico">

    <meta name="author" content="Peng Jingwen">
    <meta name="keywords" content="LemonLess, Coding, Style">
    <meta name="description" content="Coding Style Rules of LemonLess Team">
    <meta name="copyright" content="Copyright © {{ site.time | date: '%Y' }} LemonLess Team. All Rights Reserved">

    <link href="/coding-style/style/spry-0.7.0.min.css" rel="stylesheet">
    <link href="/coding-style/style/syntax-highlighting.css" rel="stylesheet">
    <link href="/coding-style/style/main.css" rel="stylesheet">
</head>
